/* Mostrar y ocultar */
.not-visible {
  display: none;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: auto;
  position: absolute;
}
.container{
  margin: 15px 120px;
  position: relative;
}

/* Header */
header {
  border-bottom: 1px solid rgb(218, 218, 218);
}
.blue2{
  width: 220px;
  height: 15px;
  background-color: #003DA6;
  float: left;
  margin-left: 30px;
  margin-top: -2px;
  border: 0px;
}
.red2{
  width: 260px;
  height:15px;
  background-color: #EA0029;
  float: right; 
  margin-top: -2px;
  border: 0px;
}
.hr{
  display: inline-block;
  margin: 0px;
}

/* Titulos */
h2 {
  text-align: center;
  color: rgb(99, 99, 99);
  font-size: 20px;
  font-weight: 600;

}
/* Login */
.welcome {
  font-size: 16px;
  text-align: center;
  color: #4F5B6A;
  margin-top: 220px;
}
.login-left {
  margin: 0;
  width: 40%;
  height: 100vh;
  float: left;
  background-color: #204051;
}
.login-right {
  margin: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.logo {
  height: auto;
  width: 30%;
  display:block;
  margin: 200px 0px 0px 170px;
}
.btn-get-in {
  margin-top: 25px;
  width: 20%;
  height: 35px;
  border: 0;
  background-color: #1b75bb;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
}
.btn-get-in:hover{
  background-color: #17629c;
  color: #ffffff;
}
#secret-name {
  width: 40%;
  height: 35px;
  border-radius: 5px;
  border: 1px  solid #c2c2c2;
  font-size: 16px;
}
.message{
  margin-top: 180px;
  font-size: 14px;
  color: #647080;
  font-weight: 300;
  text-align: center;
}
.blue{
  width: 200px;
  height: 7px;
  background-color: #003DA6;
  float: left;
  margin-right: 0px;
  border: 0px;
}
.red{
  width: 230px;
  height: 7px;
  background-color: #EA0029;
  float: right;
  margin-left: 0px;
  border: 0px;
}
.hr{
  display: inline-block;
}


/*Pantalla Principal*/

/* instrucciones */
.instruction {
  color: #4F5B6A;
  font-size: 14px;
  contain: content;
}
/* Desplazamiento */
#offset {
  font-size: 14px;
  color: #4F5B6A;
  margin-top: 15px;
  margin-left: 5px;
}
input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
}
.p-offset{
  color: #4F5B6A;
  float: left;
  font-size: 14px;
}
/* Cajas textarea */
/*Caja Izquierda*/
.box-left{
  width: 49.5%;
  float: left;
}
.text-area{
  width: 98.9%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.form-btn{
  margin: 0px;
}
/* Botones Cipher*/
.btn-cipher-text{
  width: 47%;
  float: left;
  background-color: #1b75bb;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  border: 1px solid #1b75bb;
  height: 50px;
}
.btn-cipher-text:hover{
  background-color: #17629c;
  color: #ffffff;
}

.btn-simple-text{ /* reciclar */
  width: 47%;
  float: right;
  background-color: #1b75bb;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  border: 0px;
  height: 50px;
}
.btn-simple-text:hover{
  background-color: #17629c;
  color: #ffffff;
}
/*Caja Derecha*/
.box-right{
  width: 49.5%;
  float: right;
  margin: 0px;
}
.btn-right-decode{
  width: 100%;
  background-color: #dddddd;
  font-size: 16px;
  border: 0px;
  height: 50px;
  color: rgb(65, 65, 65);
}
.btn-translate {
  margin-top: 15px;  
  margin-left: 50.5%;     
  border: 0;
  background-color: #1b75bb;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.btn-translate:hover {
  background-color: #17629c;
  color: #ffffff;
}
.btn-secundary {     
  border: 0;
  background-color: #ffffff;
  color: #1b75bb;
  border: 1px solid #1b75bb;
  text-decoration: underline;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.btn-secundary:hover{
  background-color: #1b75bb;
  color: #ffffff;
}
.btn-secundary a{
  color: #17629c;
}
.btn-secundary a:hover{
  color: #ffffff;
}

footer {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #cecece;
  margin-top: 30px;
}
footer p{
  padding-top: 25px;
  color: #535353;
  font-weight: 300;
  font-size: 14px;
}

/*Iconos*/
.icon{
  margin: 0px 20px 0px 0px;
}
.arrows{
  color: #1b75bb;
  margin-top: 20px;
  margin-left: 10px;
}
